<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMSv1OXPf5qhKCFS1_emny90OpERoXYCw</string>
	<key>GCM_SENDER_ID</key>
	<string>559400648428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManagementApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>task-management-apps-becca</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-apps-becca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559400648428:ios:c2fd1f00207ca9b86cafc9</string>
</dict>
</plist>